# macOS
.DS_Store

# Ontwikkelbestanden
.vscode/
.idea/

# Logbestanden
*.log

# Tijdelijke bestanden
*.tmp

# Lokale ontwikkelomgeving
_devserver.py
_Input/

# Data die niet in GitHub hoort
data/*.json
